

@font-face {
    font-family: "Wasa" ;
    src: url(./font/Wasa\ Variable\ Trial.ttf);
}
/* 🔗 SOURCE: https://typefaces.pizza/type/wasa */
  
@font-face {
    font-family: "GT Haptic" ;
    src: url(./font/Koba\ Furniture\ Haptik\ Font.otf);
}
/* 🔗 SOURCE: https://www.grillitype.com/typeface/gt-haptik */
  
@font-face {
    font-family: "Syne mono" ;
    src: url(./font/SyneMono-Regular.ttf);
}
/* 🔗 SOURCE: https://fonts.google.com/specimen/Syne+Mono */

:root {
    --color-header-background: #19130e;
    --color-ofwhite: #f7f8f7;
  
    --dark-color: black;
    --green-brown: #674824;
    --light-color: #F7F2EC;
    --shadow-card: rgb(75, 51, 23, 0.24);
  
    --padding-card: .8rem 1rem;
  
    --wasa: "Wasa", Arial, Helvetica, sans-serif;
    --gt-haptic: "GT Haptic", Arial, Helvetica, sans-serif;
    --syne-mono: "Syne mono", Arial, Helvetica, sans-serif;

    

}

* {
    margin: 0;
    padding: 0;
}

body{
    clip: auto;
    overflow-x: hidden;
    display: grid;
}

h1{
    margin-top: 10px;
    padding:.5em;
    border: solid var(--green-brown);
    border-bottom: var(--light-color);
}


#showcase{
    margin: 0;

    font-family: var(--gt-haptic);

    position: relative;
    background-color: var(--color-ofwhite);

    color: var(--green-brown);

    display: grid;
    grid-area: 1/1;



    section{
        --hue: calc(var(--sibling-index) * 5); 
        background-color: oklch(70% 70% var(--hue));
        max-width: 100%;
        padding: 0 5vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        


        @media screen and (min-width:950px) {
            padding: 0 30vw;
        }
        

        p, a{
            margin-bottom: 15px;
        }


        h1{
            background-color: var(--light-color);
        }

        h4, p, a{
            padding: 10px;
            padding-left: 15px;
            display: block;
            height: fit-content;
            background-color: var(--light-color);
            opacity: 0.8;
            border: .1rem solid var(--green-brown);
            animation: hithere 0.5s linear;

            &:hover{
                opacity: 1;
            }
        }

        a:hover{
            &::after{
                content: "👍";
            }
        }
        
        h4{
            border-bottom: .1rem solid var(--light-color);
        }

        #picture{
            display: flex;
            background-color: var(--light-color);
            margin-bottom: 10px;
            
            border: solid var(--green-brown);
            border-top: var(--light-color);

            div{
                padding-top: 50px;
                width: 10vw;
                background-color: var(--light-color);
                display: flex;
                justify-content: center;

                h2{
                    writing-mode: vertical-rl;
                }
            }
            figure{
                border-top: solid var(--green-brown);
                border-right: solid var(--green-brown);
            }

            img{
                width: 100%;
                height: fit-content;
                transition: 0.5s;
                opacity: 0.8;

                &:hover{
                    filter: contrast(150%);
                }
            }
        }
    }
}
@keyframes hithere {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% { 
        transform: translateX(10px); 
    }

    100% { 
        transform: translateX(0); 
    }
}
