

* {
    margin: 0;
    padding: 0;
}

 body {
    --hue: calc(sibling-index() * 50);
    background-color: oklch(70% 70% var(--hue));
}

#picture{
    display: flex;
    background-color: white;
    border-radius: 5px;
    div{
        padding-top: 50px;
        width: 10vw;
        h2{
            transform: rotate(90deg);
        }
    }
}

img{
    width: 100%;
    height: fit-content;
    border-top-left-radius: 5px;
}

#showcase{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
    p, a{
        padding-left: 15px;
        display: block;
        height: fit-content;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 15px;
    }
}