/* ///////////////////// */
/* 🎞️🎞️🎞️ FONTFACES 🎞️🎞️🎞️ */
/* ///////////////////// */

/* @font-face {
  font-family: "Wasa" ;
  src: url(./font/Wasa\ Variable\ Trial.ttf);
} */
/* 🔗 SOURCE: https://typefaces.pizza/type/wasa */

@font-face {
  font-family: "Megazoid regular" ;
  src: url(/fonts/Megazoid-Regular.woff);
}

@font-face {
  font-family: "Megazoid shadow" ;
  src: url(/fonts/Megazoid-ShadeLeft.woff);
}

@font-face {
  font-family: "GT Haptic" ;
  src: url(./font/Koba\ Furniture\ Haptik\ Font.otf);
}
/* 🔗 SOURCE: https://www.grillitype.com/typeface/gt-haptik */

@font-face {
  font-family: "Syne mono" ;
  src: url(./font/SyneMono-Regular.ttf);
}
/* 🔗 SOURCE: https://fonts.google.com/specimen/Syne+Mono */

@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);

/* //////////////// */
/* 🤠🤠🤠 ROOT 🤠🤠🤠 */
/* //////////////// */

:root {
  --color-header-background: #19130e;
  --color-ofwhite: #f7f8f7;

  --green-brown: #674824;
  --accent-color: pink;
  --light-color: #F7F2EC;
  --dark-color: black;
  --dark-color: black;
  --shadow-card: rgb(75, 51, 23, 0.24);

  --padding-card: .8rem 1rem;

  --megazoid: "Megazoid regular", Arial, Helvetica, sans-serif;
  --megazoid-shadow: "Megazoid shadow", Arial, Helvetica, sans-serif;

  /* --wasa: "Wasa", Arial, Helvetica, sans-serif; */
  --gt-haptic: "GT Haptic", Arial, Helvetica, sans-serif;
  --syne-mono: "Syne mono", Arial, Helvetica, sans-serif;

}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* /////////////////////////// */
/* 🫰🏼🫰🏼🫰🏼 TEXT FORMATTING 🫰🏼🫰🏼🫰🏼 */
/* /////////////////////////// */

h1 {
  font-family: var(--megazoid);
  font-size: 1rem;
}

h2 {
  font-family: var(--megazoid);
  font-size:  clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  transform: rotate(-3deg);
  color: var(--light-color);
  position: absolute;
  z-index: 1;
  top: 0%;
}

h3 {
  font-family: var(--megazoid-shadow);
  font-size:  clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  transform: rotate(-3deg);
  position: absolute;
  z-index: -1;
  top: 0%;
}

p {
  font-size: clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem);
  /* padding: 0 0 1rem 0; */
}

a {
  color: var(--green-brown);
  text-decoration: none;

  &:visited {
    color: var(--green-brown);
    text-decoration: none;
  }

  /* &:hover {

  }

  &:active {

  } */
}

/* //////////////// */
/* 🤎🤎🤎 BODY 🤎🤎🤎 */
/* //////////////// */


body {
  margin: 0;
  color: var(--green-brown);

  display: grid;
  grid-template-columns: 1fr 10fr;
  font-family: var(--gt-haptic);

  position: relative;
  background-color: var(--light-color);
}

/* ////////////////// */
/* 🌶️🌶️🌶️ HEADER 🌶️🌶️🌶️ */
/* ////////////////// */

header {
  display: grid;
  /* justify-items: center; */
  width: clamp(3rem, 1.9565rem + 5.2174vw, 6rem);;
  /* max-width: 10vw; */
  height: 100vh;

  background-color: var(--light-color);
  border-right: .1rem solid var(--green-brown) ;

  position: absolute;
  z-index: 11;
  bottom: 0%;
  left: 0%;
}

.menu {
  width: 100%;
  height: 97%;  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  /* margin: .3rem; */
}

/* .menu article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
} */

main {

  @layer demo {
    li {
      box-shadow: 
        inset 0 0 0 2px var(--inline, transparent),
        inset 0 0 0 4px var(--block, transparent);

        img {
          width: 100%;
        }
    }
    
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    /* border: 1px solid var(--dark-color); */


  }

  @layer demo.support {
    section {
      display: grid;

      gap: 1rem;

      /* width: 100%; */
      width: 100vw;
      height: 100vh;
    
      >ul:has(.snapped) {
        gap: 2rem;
      }
    
    >ul {
      container-type: scroll-state;
      scroll-snap-type: both mandatory;
      scroll-snap-stop: always;
      overflow: auto;
      display: grid;
      grid-auto-flow: dense; /* Allow grid to expand both horizontally and vertically */
      grid-template-columns: repeat(50, 20vw); /* Set column width */
      grid-template-rows: repeat(auto-fill, 30vw); /* Set row height */
      gap: 1rem;
      padding: 1rem;
      
      overscroll-behavior: contain;
      scroll-behavior: smooth;

      >li {
        scroll-snap-align: center;
        box-shadow: var(--dark-color) 0 0 0 1px;
      }
      >li:last-of-type{
        scroll-snap-align: end;
      }
    }
    



    
    @media (prefers-color-scheme: dark) {
      section {
        >ul {
          background: black;
        }
        
        >li {
          background: wheat;
        }
      }

    }
    
    footer {
      text-align: center;
    }
  }

  /* ///////////////// */
  /* 🎞️🎞️🎞️ CARDS 🎞️🎞️🎞️ */
  /* ///////////////// */

  .card {
    aspect-ratio: 2 / 3;
    width: 100%;
    height: 100%;



    margin: 2rem;
    padding: var(--padding-card);


    /* position: absolute;
    z-index: 0; */

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;

    font-family: var(--syne-mono);

    background-color: black;
    background-image: url(/Ana\ Tudor\ 800x800.jpg);
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    border: .1rem solid var(--green-brown);
    border-radius: .6rem;

    transition: transform 300ms ease-in-out;

    li {
        z-index: 2;
        font-family: var(--gt-haptic);
        color: var(--green-brown);
        width: 87%;
        align-self: center;
    }

    li.color {
        width: auto;
        height: auto;

        position: absolute;
        z-index: 1;
        top: 0%;
        left: 0%;

        border-radius: .5rem;
        background-color: var(--green-brown);
        opacity: 50%;
    }

    li.period {
        font-family: var(--syne-mono);
    }

    li:nth-of-type(n + 3) {
        display: none;
    }

    li.gradient {
        display: none;
        width: 100%;
        height: 40%;

        position: absolute;
        z-index: 1;
        border-radius: 0 0 .5rem .5rem;

        background-image: 
        linear-gradient(
            transparent 0%,
            var(--accent-color) 80%
        );

        transition: transform 300ms ease-in-out;
    }
  }
    
  li.name {
    flex-grow: 1;
    color: var(--green-brown);
    padding: .8rem 0 0 0;
  }

}
  
li.name {
  flex-grow: 1;
  font-family: var(--wasa);
  color: var(--green-brown);
  padding: .8rem 0 0 0;
  position: relative;
}

.snapped {
  transform: scale(1.3);
  /* translateX(1rem) translateY(1rem) */
  transition: transform 300ms ease-in-out;
  z-index: 10;

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: var(--shadow-card) 0px 3px 8px;

  li:nth-of-type(n + 3) {
    display: block;
  }

  li.period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 0;

    p:first-of-type {
      width: 80%;
    }

    p:last-of-type {
      font-size: .5rem;
    }
  }
}
}


  li:has(+ li.snapped) {
    padding-right: 10px;
  }

  li.snapped + li {
    padding-left: 10px;
  }
