@font-face {
    font-family: "Wasa" ;
    src: url(./font/Wasa\ Variable\ Trial.ttf);
}
/* 🔗 SOURCE: https://typefaces.pizza/type/wasa */

@font-face {
    font-family: "GT Haptic" ;
    src: url(./font/Koba\ Furniture\ Haptik\ Font.otf);
}
/* 🔗 SOURCE: */


@font-face {
    font-family: "Syne mono" ;
    src: url(./font/SyneMono-Regular.ttf);
}
/* 🔗 SOURCE: */




:root {
    --color-header-background: #19130e;
    --color-ofwhite: #f7f8f7;

    --green-brown: #674824;
    --shadow-card: rgb(75, 51, 23, 0.24);

    --padding-card: .8rem 1rem;

    --wasa: "Wasa", Arial, Helvetica, sans-serif;
    --gt-haptic: "GT Haptic", Arial, Helvetica, sans-serif;
    --syne-mono: "Syne mono", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* //////////////// */
/* 🤎🤎🤎 BODY 🤎🤎🤎 */
/* //////////////// */

body {
    display: grid;
    grid-template-columns: 1fr 10fr;
    font-family: var(--gt-haptic);

    background-color: #F7F2EC;
}


header {
    width: 8vw;
    max-width: 10vw;
    height: 100vh;
    border-right: .1rem solid var(--green-brown) ;
}
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    /* margin: .3rem; */
}
main {


main {
    display: grid;
    grid-column: 2;
    padding: 1rem;
}

/* ///////////////// */
/* 🎞️🎞️🎞️ CARDS 🎞️🎞️🎞️ */
/* ///////////////// */

.card {
    aspect-ratio: 2 / 3;
    /* width: 17vw; */
    height: 35vh;

    margin: 2rem;
    padding: var(--padding-card);

    position: absolute;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;

    font-family: var(--syne-mono);

    background-color: black;
    background-image: url(/Ana\ Tudor\ 800x800.jpg);
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* filter: grayscale(100%); */

    border: .1rem solid var(--green-brown);
    border-radius: .6rem;

    transition: transform 300ms ease-in-out;

    li {
        z-index: 2;
        font-family: var(--gt-haptic);
        color: var(--green-brown);
    }

    li.name {
        flex-grow: 1;
        font-family: var(--wasa);
        color: var(--green-brown);
    }

    li.name h1 {
        transform: rotate(-3deg);
    }

    li.color {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 1;
        top: 0%;
        left: 0%;

        border-radius: .5rem;
        background-color: var(--green-brown);
        opacity: 50%;
    }

    li.period {
        font-family: var(--syne-mono);

        display: none;
    }

    li:nth-of-type(n + 3) {
        display: none;
    }

    li.gradient {
        display: none;
        width: 100%;
        height: 40%;

        position: absolute;
        z-index: 1;
        left: 0%;
        bottom: 0%;
        border-radius: 0 0 .5rem .5rem;

        background-image: 
        linear-gradient(
            transparent 0%,
            pink 80%
        );

        transition: transform 300ms ease-in-out;
    }

    &:hover {
        transform: scale(1.06);
        /* translateX(1rem) translateY(1rem) */
        transition: transform 300ms ease-in-out;

        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
        box-shadow: var(--shadow-card) 0px 3px 8px;
    }

    &:hover li:nth-of-type(n + 3) {
        display: block;
    }

    &:hover li.period {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            width: 80%;
        }
    }
}

    ul {
        container-type: inline-size;
        container-name: scrolling scrolling2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        overflow-y: clip;
    }

    ul li {
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    @media (min-width: 978px) {
        ul li:nth-of-type(2n+1) {
            transform: translateY(calc(-100cqh));
            flex-direction: column-reverse;
            animation: adjust-position linear forwards;
            animation-timeline: scroll(root block);
        }
    
        @keyframes adjust-position {
            from {
                transform: translateY(calc(-440cqh));
            }
            to {
                transform: translateY(calc(440cqh));
            }
        }
        
    }

    @media (max-width: 978px) {
        ul li:nth-of-type(3n+1), ul li:nth-of-type(3n+3) {
            transform: translateY(calc(-100cqh));
            flex-direction: column-reverse;
            animation: adjust-position linear forwards;
            animation-timeline: scroll(root block);
        }
    
        @keyframes adjust-position {
            from {
                transform: translateY(calc(-740cqh));
            }
            to {
                transform: translateY(calc(740cqh));
            }
        }
        
    }

    @media (max-width: 761px) {
        ul li:nth-of-type(3n+1), ul li:nth-of-type(3n+3) {
            transform: translateY(0);
            flex-direction: column-reverse;
            animation: none;
            animation-timeline: none;
        }
        ul li:nth-of-type(2n+1) {
            transform: translateY(calc(-100cqh));
            flex-direction: column-reverse;
            animation: adjust-position linear forwards;
            animation-timeline: scroll(root block);
        }
    
        @keyframes adjust-position {
            from {
                transform: translateY(calc(-1140cqh));
            }
            to {
                transform: translateY(calc(1140cqh));
            }
        }
        
    }

    @media (max-width: 545px) {
        ul li:nth-of-type(3n+1), ul li:nth-of-type(3n+3) {
            transform: translateY(0);
            flex-direction: column-reverse;
            animation: none;
            animation-timeline: none;
        }
        ul li:nth-of-type(2n+1) {
            transform: translateY(0);
            flex-direction: column-reverse;
            animation: none;
            animation-timeline: none;
        }

        
    }

    

}





